* {
    margin: 0;
    padding: 0;
}

.head .navBar .divLogo a{
    text-decoration: none;
}

.head .navBar .divLogo #logo {
    width: 9%;
}

.head .navBar .divLogo {
    position: fixed;
    background-color: rgba(40, 40, 157, 0.809);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.head .navBar .divLogo .options {
    display: flex;
    align-items: center;
}

.head .navBar .divLogo .options .firstUl {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.head .navBar .divLogo .options .firstUl .names {
    position: relative;
}

.head .navBar .divLogo .options .firstUl .names .dropDiv ul{
    list-style-type: none;
}

.head .navBar .divLogo .options .firstUl .names .dropDiv {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    width: 200%;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.head .navBar .divLogo .options .firstUl .names .dropDivMain {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    width: 1200%;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.head .navBar .divLogo .options .firstUl .names:hover .dropDivMain {
    display: block;
    display: flex;
    justify-content: space-between;
}

.head .navBar .divLogo .options .firstUl .names:hover .dropDiv {
    display: block;
}

.head .navBar .divLogo .log {
    display: flex;
    gap: 1rem;
}

.head .navBar .divLogo .log a {
    color: white;
    text-decoration: none;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
}

.head .navBar .divLogo .log .logSales {
    background-color: #444;
}

.head .navBar .divLogo .log .logStart {
    background-color: #007bff;
}

.head .navBar .divLogo .log .logLogin {
    background-color: #28a745;
}
